{% extends "auctions/layout.html" %}

{% block body %}

<form action="{% url 'category' %}" method="POST">
    {% csrf_token %}
     <div class="form-group">
            <label for="category">Category: </label>
            <select name="category" id="category" class="form-control">
                <option value="other">Others</option>
                <option value="clothes">Clothes</option>
                <option value="electronics">Electronics</option>
                <option value="shoes">Shoes</option>
                <option value="books">Books</option>
            </select>
            <input class="btn btn-primary" type="submit">
        </div>

</form>
{% for item in items%}
    <a href="{% url 'listingPage' item.id %}">{{item}}</a><br>
{% endfor %}

{% endblock %}